<h2><%= current_user.username %>'s Trips</h2>

<div id="my-trips"></div>

<div class="small-6 small-centered columns">
<% if @trips != [] %>
  <div class="charts"><%= pie_chart @trips.joins(:activities).group('activities.name').count, title: "Destinations Across All Your Trips", colors: ["#A7C5BD", "#eb7b59", "#CF4647", "#524656", "#e5ddcb" ] %></div>
<% end %>
</div>

<h3 id="index">All Trips</h3>

<% @trips.each do |trip| %>
  <h6 id="activity-title"class="small-6 small-centered columns"><%= trip.trip_name %></h6>

  <h6 id="activity-list" class="row small-10 small-centered columns"><% trip.activities.each do |activity| %>
    <a href="/activities/<%= activity['id'] %>"><%= activity['name'] %>     -----</a>
    <% end %></h6>

  <div class="small-3 small-centered columns" id="new-delete-button"><%= link_to "Delete", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>
