<div id="app"></div>

<div id="activity">
<div id="activity-name"><h2><%= @activity.name %></h2></div>
<div id="activity-address"><h6><%= @activity.address %></h6></div>
<div id="activity-description"><h5><%= @activity.description %></h5></div>

<div><%= @google_info[0].name %></div>
<div><%= @google_info[0].rating %></div>
<div><%= @google_info[0].price_level %></div>


<div id="button" data-id="<%= @activity.id %>">
  <%= button_to "Next Stop", zone_path(@zone.id), method: :get %>
</div>


</div>
