<div class="overlay2">
<div class="row small-6 columns" id="app">

  <% @trips.each do |trip| %>
    <% if trip.current %>
      <h6 class="small-3 small-centered columns">Current Trip: <%= trip.trip_name %></h6>
      <h6 class="row small-6 small-centered columns"><% trip.activities.each do |activity| %>
        <%= activity['name'] %>     -----
        <% end %></h6>
      <% end %>
  <% end %>

</div>

<div class="activity row small-6 small-centered columns">
  <div class="activity-name"><h1><%= @activity.name %></h1></div>
  <div class="activity-address"><h6><%= @activity.address %></h6></div>
  <div class="activity-description"><h5><%= @activity.description %></h5></div>

  <div class="map"></div>

<div class="google-results">
  <% if @activity.picture %>
  <img class="back-pic" src= <%= "https://maps.googleapis.com/maps/api/place/photo?maxwidth=1300&photoreference=#{@activity.picture}&key=#{ENV["API_KEY"]}" %> >
  <% end %>
</div>


<% if @place %>
  <div class="google-results">
    <div>Review Rating:  <%= @place['result']['rating'] %></div>
    <div>Price Level:  <%= @place['result']['price_level'] %></div>
    <div>Website:  <%= @place['result']['website'] %></div>
  </div>
<% end %>

<div class="row small-centered columns" id="button" data-id="<%= @activity.id %>">
  <%= button_to "Next Stop", zone_path(@activity.zone_id), method: :get %>
</div>
</div>
</div>
