<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Trip to Somerville" %></title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Oswald" rel="stylesheet">
</head>

<body>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Menu</a>
        <ul class="menu vertical">
        <% if user_signed_in? %>
          <li id="ident" data-id="<%= current_user.id %>"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Change My User Info', edit_user_registration_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Admin Activity Create", new_activity_path %></li>
              <li><%= link_to "Admin Activity Index", activities_path %></li>
            <% end %>
        <%else%>
          <li id="ident" data-id="<%= nil %>"><%= link_to 'Sign Up', new_user_registration_path%></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
          <li><%= link_to 'Create a New Trip', trips_path %></li>
          <li><%= link_to 'Manage Trips', trips_path %></li>
          <li><%= link_to 'Back to Neighborhoods', root_path %></li>
        </ul>
      </li>
    </ul>
  </div>


  <h4 class="flash">
   <% flash.each do |key, value| %>
     <%= value %>
   <% end %>
 </h4>

 <%= yield %>

</body>
</html>
