<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Trip to Somerville" %></title>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Oswald" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= ENV['TRACKING'] %>', 'auto');
  ga('send', 'pageview');

  </script>
</head>

<body>
  <nav class="top-bar-right" data-topbar>
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside>
      <li>
        <a href="#">Menu</a>
        <ul class="menu vertical">
        <% if user_signed_in? %>
          <li id="ident" data-id="<%= current_user.id %>"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Change My User Info', edit_user_registration_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Admin Activity Create", new_activity_path %></li>
            <% end %>
        <%else%>
          <li id="ident" data-id="<%= nil %>"><%= link_to 'Sign Up', new_user_registration_path%></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
          <li><%= link_to 'Create a New Trip', trips_path %></li>
          <li><%= link_to 'Manage Trips', trips_path %></li>
          <li><%= link_to 'Back to Neighborhoods', root_path %></li>
        </ul>
      </li>
    </ul>
  </nav>


  <h4 class="flash">
   <% flash.each do |key, value| %>
     <%= value %>
   <% end %>
 </h4>

 <%= yield %>

</body>
</html>
